{% extends 'base.html' %}
{% load staticfiles %}
{% load comments %}
   {% block main %}

           <main class="col-md-8">
			   <article class="post post-1" style="margin-top: 8px">
				  {% if error_msg %}
				       <p>{{ error_msg }}</p>
				  {% endif %}

				  {% for post in post_list %}
                  <article class="blog-teaser">
                                <header>
								   <!--<img src="{% static 'blog/img/sample.jpg' %}" alt="">-->
									<p></p>
                                    <h3 style="margin-top:20px"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <span class="category"><a href="#">{{ post.category.name }} </a></span>
							<span class="">
								<a href="#">
									<time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time|date:"Y-m-d" }}</time>
								</a>
							</span>
							<span class=""><a href="#"> {{post.author}} </a></span>
							{% get_comment_count for post as comment_count %}
							<span class="fa fa-comments-o"><a href="#"> {{comment_count}}</a></span>
							<span class="fa fa-eye"><a href="#"> {{post.view}}</a></span>
                                    <hr>
                                </header>
                                <div class="body">
									{{ post.body|truncatechars:90 }}
                                </div>
                                <div class="clearfix">
                                    <a href="{{ post.get_absolute_url }}" class="btn btn-clean-one">继续阅读 ></a>
                                </div>
				  </article>
                  {% empty %}
                   <div class="no-post">暂时还没有发布的文章！</div>
                  {% endfor %}
			   </article>
			   <div style="margin:auto 70">
					{% if is_paginated %}
							<div class="pagination">
								  {% if first %}
								    <a href="?page=1">1</a>
								  {% endif %}
								  {% if left %}
								    {% if left_has_more %}
								        <span>...</span>
								    {% endif %}
								    {% for i in left %}
								        <a href="?page={{ i }}">{{ i }}</a>
								    {% endfor %}
								  {% endif %}
								  <a href="?page={{ page_obj.number }}" style="color: red;">{{ page_obj.number }}</a>
								  {% if right %}
								    {% for i in right %}
								        <a href="?page={{ i }}">{{ i }}</a>
								    {% endfor %}
								    {% if right_has_more %}
								        <span>...</span>
								    {% endif %}
								  {% endif %}
								  {% if last %}
								    <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
								  {% endif %}
							</div>
					{% endif %}
			   </div>
		   </main>
   {% endblock main %}