{% extends 'baseLogin.html' %}
{% load staticfiles %}


                {% block main %}
                    <div class="panel-body" style="margin-top: 100px;width: 430px;margin-left: 330px;height: 291px;">
                            <h3 class="form_title">重置密码</h3>
                            <form class="main_form" id="password_change" method="post">
                                {% csrf_token %}
                                <!--<input type="hidden" name="csrfmiddlewaretoken" value="yzPfRCjAuYyFrZSVxNZKKtAJnvaTH3Yj">-->
                                        <div class="input-group">
                                            <label class="input-group-addon" for="email">
                                                用户邮箱
                                            </label>
                                            <input class="form-control" id="email" name="email" placeholder="请输入您注册时用的邮箱" type="email">
                                        </div>

                                        <p class="text-danger text-right" name="tip_text">

                                        </p>


                                        <div class="input-group">
                                            <label class="input-group-addon" for="pwd_1">
                                                新的密码
                                            </label>
                                            <input class="form-control" id="pwd_1" maxlength="36" name="pwd_1" placeholder="请输入6-36位的密码" type="password">
                                        </div>

                                        <p class="text-danger text-right" name="tip_text">

                                        </p>




                                        <div class="input-group">
                                            <label class="input-group-addon" for="pwd_2">
                                                再输一遍
                                            </label>
                                            <input class="form-control" id="pwd_2" maxlength="36" name="pwd_2" placeholder="重复新的密码确保正确" type="password">
                                        </div>

                                        <p class="text-danger text-right" name="tip_text">

                                        </p>


                                        <div class="input-group">
                                            <label class="input-group-addon" for="validcode">
                                                &nbsp;验证码
                                            </label>
                                            <input class="form-control" id="validcode" name="validcode" placeholder="输入验证码" type="text">
                                        </div>

                                        <p class="text-danger text-right" id="tip_text">

                                        </p>

                                <div class="text-right form_btn">
                                    <a class="btn btn-primary" id="btn_code">获取验证码</a>
                                    <input class="btn btn-primary" id="btn_submit" type="submit" value="　确定　">
                                </div>

                            </form>
                    </div>
           <script>

                $(document).ready(function(){
                            //重置密码
                            $('#btn_submit').click(function(){
                                //验证
                                var tip=$('#tip_text');
                                tip.text('');

                                var reg_email=$('#email').val();
                                var reg_oldpwd=$('#oldpwd').val();
                                var reg_pwd1=$('#pwd_1').val();
                                var reg_pwd2=$('#pwd_2').val();
                                var validcode=$('#validcode').val();

                                if(reg_email==''){
                                    tip.text('邮箱不能为空');
                                    return false;
                                };
                                if(!reg_email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)){
                                    tip.text('请输入正确的邮箱格式');
                                    return false;
                                }

                                if(reg_pwd1.length<6){
                                    tip.text('新密码不能少于6位');
                                    return false;
                                }
                                if(reg_pwd1!=reg_pwd2){
                                    tip.text('新密码和确认密码不一致');
                                    return false;
                                }

                                if(validcode==''){
                                    tip.text('验证码不能为空');
                                    return false    ;
                                };

                                //修改密码
                                tip.text('重置密码中，请稍后...');
                                $.ajax({
                                    type: "POST",
                                    data: $('#password_change').serialize(),
                                    url: "/blog/changepassword/",
                                    cache: false,
                                    dataType: "json",
                                    success: function(json, textStatus){
                                        var is_success = json['success'];
                                        if(is_success){
                                            tip.text('重置密码成功，页面处理中...');
                                            $('#user_control').text(json['message']);

                                            window.setTimeout(function(){
                                                var reback_url = $('#reback_url').val();
                                                if(!reback_url){reback_url='/';}
                                                window.location.href = reback_url;
                                            },3000);
                                        }else{
                                            tip.text(json['message']);
                                        };
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        tip.text("重置密码出错，请重试 "+errorThrown);
                                    }
                                });
                                return false;
                            });
                });
            </script>
            <script type="text/javascript">
                function time_run(time_check){
                    time_check -= 1;
                    $("#btn_code").text("("+time_check+")重新获取");
                    if(time_check>0){
                        //setTimeout('time_run('+time_check+')', 1000);
                        setTimeout(function(){time_run(time_check)}, 1000);
                    }else{
                        $("#btn_code").text("获取验证码");
                        $("#btn_code").removeClass("disabled");
                    }
                }

                $(document).ready(function() {
                    $("#btn_code").click(function(){
                        //获取填写的邮箱，并检查
                        var email_tip = $(".text-danger")[0];
                        var email = document.getElementById("email").value;
                        email_tip.innerText = '';

                        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
                        if(!myreg.test(email)){
                            email_tip.innerText = '* 请正确地填写邮箱'
                            return false;
                        }

                        //发送验证码
                        $.ajax({
                            type: "POST",
                            data: $('#password_change').serialize(),
                            url: "/blog/get_email_code/",
                            cache: false,
                            dataType: "json",
                            success:function(result){
                                if(result['success']){
                                    //提示
                                    var code_tip = $(".text-danger")[3];
                                    code_tip.innerText = '已经发送验证码到您填写的邮箱中'

                                    //禁用按钮
                                    $("#btn_code").addClass("disabled");
                                    //倒计时
                                    time_run(60);
                                }else{
                                    alert(result['message']);
                                }
                            },
                            error:function(XMLHttpRequest, textStatus, errorThrown){
                                alert("获取出错，稍后再试一下吧。")
                            }
                        });
                    });
                });
            </script>
                 {% endblock main%}

</body>
</html>